extends layout

block content
  h1 Home Loans - Gensis POC
  p Welcome to home loans POC Team
  
  
  p The founding members are:
  ul
    li Peter Cousins 
    li Mark Willis 
    li Niek Claasen

  | For Acccount Summary information, please see the 
  a(href='/accountSummary') Account Summary
  |.
  p
  | For Statement information, please see the 
  a(href='/Statement/') Statement
  |.
  p
  | For more information, please see the 
  a(href='/quickstart') Quick Start
  |.