body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.blocktext {
  font-family: Courier New, Courier, monospace;
}
/* 
  section styles 
*/

#header {
    width:100%;
    clear: both;
    padding:10px;
}
#search {
    width:350px;
    padding:10px;
    border: 1px solid black;
}
#results {
  display: none;
}
#customerInfo {
    width:350px;
    padding:10px; 
    border: 1px dashed black;
    float: left;
}
#accountInfo {
    padding:10px;
    border: 1px dashed black;
    margin: 10px;
    margin-left: 400px;
}